@model Techbart.DB.Interfaces.IPage

@{
	int totalItems = Model.Count;
	int pageSize = 50;
	int currentPage = 1;
	int pageCount = (Model.Count / Model.Take) + ((Model.Count % Model.Take) == 0 ? 0 : 1);

	if (Model.Take > 0)
	{
		pageSize = Model.Take;
	}

	if (Model.Skip != 0)
	{
		currentPage += Model.Skip / pageSize;
	}
}
@if (pageCount > 0)
{
	<ul class="pages">
		@for (int i = 1; i <= pageCount; i++)
		{
			<li>
				<span class="@(currentPage == i ? "active" : string.Empty)" data-page="@i">@i</span>
			</li>
		}
	</ul>
}